<div class="main-container">
  <canvas id="overlay"></canvas>

  <div id="background-camera"
    *ngIf="this.getData('Whitelist') && this.getData('Whitelist').slice(1,2) === '1' && this.getData('Whitelist').slice(2,3) === '1'">
    <div id="status-overlay" class="w-100 h-100" *ngIf="this.falseLogin === true || this.falseLogin === false"
      [ngClass]="{'neutral': this.neutral === true,'success': this.falseLogin === false, 'error': this.falseLogin === true}">
      <fa-icon [icon]="faTimes" id="faAccessIcon" *ngIf="this.falseLogin === true"></fa-icon>
      <fa-icon [icon]="faCheck" id="faAccessIcon" *ngIf="this.falseLogin === false"></fa-icon>
    </div>
    <label id="facial-info" *ngIf="showFacialInfo"> {{facialInfoText}} </label>
    <video #videoElement id="videoElement"></video>
  </div>


  <div class="row p-0" id="bottom-row"
    *ngIf="this.getData('Whitelist') && this.getData('Whitelist').slice(1,2) === '1' && this.getData('Whitelist').slice(2,3) === '1'">

    <a id="enroll-button"
      (click)="requestData(); showBiometricsOverlay = true; this.setupWebRtc('biometrics'); this.hideEmailQR = true; this.pauseInterval = true;">
      <fa-icon [icon]="faUserPlus" id="enroll-icon"></fa-icon>
      <span id="enroll-text">
        {{ 'AM.enroll' | translate }}
      </span>
    </a>

    <div [hidden]="this.hideEmailQR" class="qr-code fixed-width d-flex flex-column align-items-center p-0"
      id="email-qr-code">
      <div *ngIf="websocketDisconnected" class="disconnect-overlay" (click)="refreshWebsocketDisconnect('email')">
        <p>{{ 'AM.disconnected' | translate }}</p>
      </div>
      <canvas [hidden]="this.hideEmailQR" id="noBiometrics" [ngClass]="websocketDisconnected ? 'disconnected-qr' : ''"
        #noBiometrics></canvas>
    </div>
  </div>

  <div class="overlay-message" [hidden]="!showBiometricsOverlay">
    <div class="overlay-message-background" [hidden]="!showBiometricsOverlay"></div>
    <div class="overlay-message-popup text-center" [hidden]="!showBiometricsOverlay">
      <div class="qr-code fixed-width d-flex flex-column p-0">
        <div>
          <div *ngIf="websocketDisconnected" class="disconnect-overlay"
            (click)="refreshWebsocketDisconnect('biometrics')">
            <p>{{ 'AM.disconnected' | translate }}</p>
          </div>
          <canvas [ngClass]="websocketDisconnected ? 'disconnected-qr' : ''" #biometrics></canvas>
        </div>
        <p *ngIf="!websocketDisconnected" class="qr-code-text">{{ 'AM.scan_code' | translate }}</p>
        <p *ngIf="!websocketDisconnected" class="qr-code-text">{{ 'AM.scan_code2' | translate }}</p>
        <button class="btn btn-danger w-100 cancelButton mt-1"
          (click)="showBiometricsOverlay = false; hideEmailQR = false; setupWebRtc('noBiometrics');  this.pauseInterval = false;">{{
          'CNF.cancel'
          | translate }}</button>
      </div>
    </div>
  </div>

  <div class="main-view-div" [hidden]="!showQR">
    <div class="qr-code fixed-width p-0" [hidden]="accessGranted || accessDenied">
      <div>
        <div *ngIf="websocketDisconnected" class="disconnect-overlay" (click)="refreshWebsocketDisconnect('regular')">
          <p>{{ 'AM.disconnected' | translate }}</p>
        </div>
        <canvas [ngClass]="websocketDisconnected ? 'disconnected-qr' : ''" #regular></canvas>
      </div>
      <div class="seethrough-card">
        <p *ngIf="!websocketDisconnected" class="qr-code-text">{{ 'AM.scan_code' | translate }}</p>
        <p *ngIf="!websocketDisconnected" class="qr-code-text">{{ 'AM.scan_code2' | translate }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="!showQR && this.whitelistStatus === ''">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
        <h6 class="m-0 font-weight-bold text-primary">{{ 'AM.error_no_data' | translate }}</h6>
      </div>
      <div class="card-body d-flex justify-content-center">
        <div class="no-data">
          <p>{{ 'AM.no_requested_data' | translate }}</p>
          <a routerLink="/config">{{ 'PAGES.GO_TO_CONFIG' | translate }}</a>
        </div>
      </div>
    </div>
  </div>

  <a id="config-button" class="top-right-config-link display-none" routerLink="/config" (click)="this.stopCamera();">
    <fa-icon [icon]="['fas', 'cog']"></fa-icon>
  </a>

  <div class="overlay-message" *ngIf="accessGranted && !accessDenied && !biometricsAccess">
    <div class="overlay-message-background"></div>
    <div class="overlay-message-popup">
      <img src="./assets/img/undraw_door.svg" class="message-logo" alt="Welcome">
      <p class="message-text-success">{{ 'AM.success-message' | translate }}</p>
    </div>
  </div>

  <div class="overlay-message" *ngIf="!accessGranted && accessDenied && !biometricsAccess">
    <div class="overlay-message-background"></div>
    <div class="overlay-message-popup">
      <img src="./assets/img/undraw_access_denied.svg" class="message-logo" alt="Access denied">
      <p class="message-text-error">{{ 'AM.error-message' | translate }}</p>
    </div>
  </div>

</div>