:host {
  .overlay-message {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .overlay-message-background {
    background: #002c49;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }

  .overlay-message-popup {
    border-radius: 8px;
    width: 500px;
    max-width: 90vw;
    height: 300px;
    max-height: 90vh;
    background: var(--white);
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .no-data {
    text-align: center;
  } 

  .no-data a {
    &:hover { 
      background: darken(#28a745, 10%);
      color: white !important;
    }
  }

  .message-logo {
    width: 230px;
    height: 200px;
    padding-right: 30px;
  }

  .message-text-success {
    padding-top: 16px;
    font-weight: 600;
    color: var(--success)
  }

  .message-text-error {
    padding-top: 16px;
    font-weight: 600;
    color: var(--danger)
  }

  .top-right-config-link {
    position: absolute;
    right: 0;
    left: auto;
    top: 0;
    bottom: auto;
    opacity: 0.3;
    color: lightblue;
    background-color: #000;
  }

  .overlay-message-popup {
    height: 360px;
  }
  
  .bottom-right-email-button {
    position: absolute;
    right: 0;
    left: auto;
    top: auto;
    bottom: 0;
    color: white;
  }

  .top-right-config-link fa-icon {
    color: #aaaaaa
  }

  .qr-code-text {
    padding-top: 0px;
    margin-bottom: 0 !important;
  }
}
