:host {
  .overlay-message {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .overlay-message-background {
    background: #002c49;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }

  .overlay-message-popup {
    border-radius: 8px;
    width: 500px;
    max-width: 90vw;
    height: 300px;
    max-height: 90vh;
    background: var(--white);
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .no-data {
    text-align: center;
  }

  .no-data a {
    &:hover {
      background: darken(#28a745, 10%);
      color: white !important;
    }
  }

  .message-logo {
    width: 230px;
    height: 200px;
    padding-right: 30px;
  }

  .message-text-success {
    padding-top: 16px;
    font-weight: 600;
    color: var(--success);
  }

  .message-text-error {
    padding-top: 16px;
    font-weight: 600;
    color: var(--danger);
  }

  .top-right-config-link {
    position: absolute;
    right: 0;
    left: auto;
    top: 0;
    bottom: auto;
    background: rgba(0, 0, 0, 0);
    z-index: 999999;
  }

  .neutral {
    background: rgba(0, 0, 0, 0);
  }

  .success {
    background: rgba(0, 255, 0, 0.5);
  }

  .error {
    background: rgba(255, 0, 0, 0.5);
  }

  .overlay-message-popup {
    height: 360px;
  }

  #enroll-button {
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    margin: 16px;
    text-align: center;
    min-height: 127px;
    min-width: 210px;
    display: flex;
    flex-direction: column;

    &:hover {
      color: white !important;
    }
  }

  #status-overlay {
    z-index: 9999;
  }

  #videoElement {
    height: 1024px;
    width: 630px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
  }

  #enroll-text {
    font-size: 35px;
  }

  #enroll-icon {
    font-size: 45px;
  }

  .top-right-config-link fa-icon {
    color: #aaaaaa;
  }

  .qr-code-text {
    padding-top: 0px;
    margin-bottom: 0 !important;
  }

  #noBiometrics {
    width: 127px !important;
    height: 127px !important;
  }

  #email-qr-code {
    margin: 16px;
    padding-right: 0px;
    height: 127px !important;
    width: 127px !important;
    max-width: fit-content;
  }

  #email-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border-radius: 0;
  }

  #bottom-row {
    height: 160px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    margin-top: auto;
  }

  #email-card {
    margin: 16px;
  }

  #background-camera {
    div {
      position: absolute;
      display: flex;
      align-items: center;
    }
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .display-none {
    display: none;
  }

  #faAccessIcon {
    margin: 0 auto;
    bottom: auto;
    font-size: 15rem;
    color: white;
    opacity: 0.5;
  }

  #facial-info {
    margin: 5%;
    padding: 20px;
    position: absolute;
    z-index: 1;
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 90%;
  }

  .seethrough-card {
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.4);
  }
}
