<div class="main-container">

  <div id="background-camera">
    <video #videoElement id="videoElement"></video>
  </div>


  <div class="card shadow" id="email-card" [hidden]="hideEmailQR">
    <div class="card-body  text-center" id="email-body">
      <div class="qr-code fixed-width d-flex flex-column align-items-center p-0" id="email-qr-code">
        <div *ngIf="websocketDisconnected" class="disconnect-overlay" (click)="refreshWebsocketDisconnect('email')">
          <p>{{ 'AM.disconnected' | translate }}</p>
        </div>
        <canvas [ngClass]="websocketDisconnected ? 'disconnected-qr' : ''" #qrCodeCanvasEmail></canvas>
      </div>
      <p *ngIf="!websocketDisconnected" class="qr-code-text">{{ 'AM.scan_code' | translate }}</p>
      <p *ngIf="!websocketDisconnected" class="qr-code-text">{{ 'AM.scan_code2' | translate }}</p>
    </div>
  </div>

  <div class="overlay-message" [hidden]="!showBiometricsOverlay">
    <div class="overlay-message-background" [hidden]="!showBiometricsOverlay"></div>
    <div class="overlay-message-popup text-center" [hidden]="!showBiometricsOverlay">
      <div class="qr-code fixed-width d-flex flex-column">
        <div>
          <div *ngIf="websocketDisconnected" class="disconnect-overlay"
            (click)="refreshWebsocketDisconnect('biometrics')">
            <p>{{ 'AM.disconnected' | translate }}</p>
          </div>
          <canvas [ngClass]="websocketDisconnected ? 'disconnected-qr' : ''" #qrCodeCanvasAddBiometrics></canvas>
        </div>
        <p *ngIf="!websocketDisconnected" class="qr-code-text">{{ 'AM.scan_code' | translate }}</p>
        <p *ngIf="!websocketDisconnected" class="qr-code-text">{{ 'AM.scan_code2' | translate }}</p>
        <button class="btn btn-danger w-100 cancelButton mt-1"
          (click)="showBiometricsOverlay = false; hideEmailQR = false; setupWebRtc('email')">{{ 'CNF.cancel'
          | translate }}</button>
      </div>
    </div>
  </div>

  <div class="main-view-div"
    [hidden]="accessGranted || accessDenied || this.StorageProvider.getKey('Whitelist').slice(1,2) === '1' && this.StorageProvider.getKey('Whitelist').slice(2,3) != '0'">
    <div class="qr-code fixed-width" [hidden]="!showQR && this.StorageProvider.getKey('Whitelist').slice(2,3) != '0'">
      <div>
        <div *ngIf="websocketDisconnected" class="disconnect-overlay" (click)="refreshWebsocketDisconnect()">
          <p>{{ 'AM.disconnected' | translate }}</p>
        </div>
        <canvas [ngClass]="websocketDisconnected ? 'disconnected-qr' : ''" #qrCodeCanvas></canvas>
      </div>
      <p *ngIf="!websocketDisconnected" class="qr-code-text">{{ 'AM.scan_code' | translate }}</p>
      <p *ngIf="!websocketDisconnected" class="qr-code-text">{{ 'AM.scan_code2' | translate }}</p>
    </div>
  </div>

  <div *ngIf="!showQR && this.StorageProvider.getKey('Whitelist').slice(2,3) != '0'">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
        <h6 class="m-0 font-weight-bold text-primary">{{ 'AM.error_no_data' | translate }}</h6>
      </div>
      <div class="card-body d-flex justify-content-center">
        <div class="no-data">
          <p>{{ 'AM.no_requested_data' | translate }}</p>
          <a routerLink="/config">{{ 'PAGES.GO_TO_CONFIG' | translate }}</a>
        </div>
      </div>
    </div>
  </div>

  <a class="top-right-config-link" routerLink="/config">
    <fa-icon [icon]="['fas', 'cog']"></fa-icon>
  </a>

  <a id="enroll-button"
    *ngIf="this.StorageProvider.getKey('Whitelist').slice(1,2) === '1' && this.StorageProvider.getKey('Whitelist').slice(2,3) === '1'"
    (click)="requestData(); showBiometricsOverlay = true; this.setupWebRtc('biometrics'); hideEmailQR = true; this.start();">
    {{ 'AM.enroll' | translate }}
  </a>

  <div class="overlay-message" *ngIf="accessGranted && !accessDenied">
    <div class="overlay-message-background"></div>
    <div class="overlay-message-popup">
      <img src="./assets/img/undraw_door.svg" class="message-logo" alt="Welcome">
      <p class="message-text-success">{{ 'AM.success-message' | translate }}</p>
    </div>
  </div>

  <div class="overlay-message" *ngIf="!accessGranted && accessDenied">
    <div class="overlay-message-background"></div>
    <div class="overlay-message-popup">
      <img src="./assets/img/undraw_access_denied.svg" class="message-logo" alt="Access denied">
      <p class="message-text-error">{{ 'AM.error-message' | translate }}</p>
    </div>
  </div>

</div>
