:host {
  .qr-code-text {
    padding-top: 0px;
    margin-bottom: 0 !important;
  }

  ngx-flag-picker {
    margin-bottom: 5px;
  }

  .attribute-list {
    align-items: baseline;
    align-self: center;
  }

  .attribute-options {
    margin-bottom: 0;
  }

  .createButton {
    align-self: center;
  }

  .createButton {
    margin-top: 5px;
  }

} 