/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./node_modules/bootstrap/scss/bootstrap.scss";
// regular style toast
@import "~ngx-toastr/toastr";

// if you'd like to use it without importing all of bootstrap it requires
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// @import "~ngx-toastr/toastr-bs4-alert";

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

@font-face {
  font-family: “Nunito”;
  src: url(\assets\fonts\NunitoSans-Regular.ttf);
}
body,
* {
  font-family: Nunito !important;
}

div .mat-form-field-infix {
  width: 75px;
}

.country-code {
  color: #908e90 !important
}

.country-flag span {
  color: #908e90 !important
}

.list-country-flags {
  padding: 0 !important;
}
.country-flag {
  &:hover {
    background: darken(#fff, 15%);
  }
  padding: 5px;
}
span.flag-icon {
  margin-right: 0 !important;
}

div.list-country-flags {
  margin-top: 0 !important;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed !important;
  background: url(./assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;

  .main-view-div {
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }

  a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--success);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;

    &:hover {
      background: #fff;
      color: var(--success) !important;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
      transition: all 0.4s ease 0s;
    }
  }

  .mat-form-field-appearance-fill,
  .mat-form-field-flex {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .mat-form-field-wrapper {
    padding: 0;
  }

  .cdk-column-message {
    width: 852px;
  }

  .mat-form-field-flex,
  .mat-form-field-type-mat-input {
    height: 50px;
  }

  .mat-column-biometrics {
    padding-left: 2%;
    width: 20%;
  }

  .mat-button-base {
    outline: none;
  }

  .switch {
    outline: none !important;
    background: #f44336;
    .switch-pane {
      .switch-label-checked,
      .switch-label-unchecked {
        color: #fff !important;
      }
    }
  }

  .qr-code {
    text-align: center;
    // margin-bottom: 20px;
    padding-right: 20px;

    img {
      max-width: 200px;
    }
  }

  .qr-code-text {
    font-weight: 600;
  }

  .fixed-width {
    width: 350px;
  }

  .disconnect-overlay {
    position: absolute;
    z-index: 1;
    height: 210px;
    width: 210px;
    margin-left: 40px;

    &:hover {
      cursor: pointer;
    }

    p {
      padding-top: 85px;
      margin-left: 40px;
    }
  }

  .disconnected-qr {
    opacity: 0.2;
  }

  @media (max-width: 1024px) {
    .main-view-div {
      flex-direction: column;
    }
  }
}
