<div class="main-container">
  <div class="container">
    <h1 class="title">
      {{ 'PAGES.HOME.TITLE' | translate }}
    </h1>

    <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>
    <a (click)="openDoor(1)">{{ 'PAGES.HOME.OPEN_DOOR' | translate }} 1</a>
    <a (click)="openDoor(2)">{{ 'PAGES.HOME.OPEN_DOOR' | translate }} 2 </a>
    <a (click)="searchRelays()">Search</a>
    <a (click)="setRelay(0)">Set relay 0</a>
    <a (click)="setRelay(1)">Set relay 1</a>
  </div>
</div>
